@charset "utf-8";

@font-face {
  font-family: "NanumSquareRound";
  font-display: swap;
  src: local("NanumSquareRoundR"), url("NanumSquareRoundR.woff2") format("woff2"), url("NanumSquareRoundR.woff") format("woff"), url("NanumSquareRoundR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundB";
  font-display: swap;
  src: local("NanumSquareRoundB"), url("NanumSquareRoundB.woff2") format("woff2"), url("NanumSquareRoundB.woff") format("woff"), url("NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundEB";
  font-display: swap;
  src: local("NanumSquareRoundEB"), url("NanumSquareRoundEB.woff2") format("woff2"), url("NanumSquareRoundEB.woff") format("woff"), url("NanumSquareRoundEB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundL";
  font-display: swap;
  src: local("NanumSquareRoundL"), url("NanumSquareRoundL.woff2") format("woff2"), url("NanumSquareRoundL.woff") format("woff"), url("NanumSquareRoundL.ttf") format("truetype");
}
